{{- /* Comments area start */ -}}
{{- if .Site.Params.comments -}}
<div id="comments" class="comments-area">
  {{- if .Site.Params.comments.giscus -}}
  <script src="https://giscus.app/client.js"
          data-repo="{{ .Site.Params.comments.giscus.repo }}"
          data-repo-id="{{ .Site.Params.comments.giscus.repoId }}"
          data-category="{{ .Site.Params.comments.giscus.category }}"
          data-category-id="{{ .Site.Params.comments.giscus.categoryId }}"
          data-mapping="{{ .Site.Params.comments.giscus.mapping }}"
          data-strict="{{ .Site.Params.comments.giscus.strict }}"
          data-reactions-enabled="{{ .Site.Params.comments.giscus.reactionsEnabled }}"
          data-emit-metadata="{{ .Site.Params.comments.giscus.emitMetadata }}"
          data-input-position="{{ .Site.Params.comments.giscus.inputPosition }}"
          data-theme="{{ .Site.Params.comments.giscus.theme }}"
          data-lang="{{ .Site.Params.comments.giscus.lang }}"
          data-loading="{{ .Site.Params.comments.giscus.loading }}"
          crossorigin="anonymous"
          async>
  </script>
  {{- end -}}
</div>
{{- end -}}
{{- /* Comments area end */ -}}
